<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="HWControl"
    Manufacturer="HWControl contributors"
    Version="$(var.Version)"
    UpgradeCode="6E0E6A5E-69A0-4B2A-9C89-8F2507A1D890">
    <MajorUpgrade DowngradeErrorMessage="A newer HWControl version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="HWControl" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
      <ComponentRef Id="MainExecutableComponent" />
      <ComponentRef Id="BridgeServiceComponent" />
      <ComponentRef Id="BridgeDataComponent" />
    </Feature>

    <Component Id="MainExecutableComponent" Directory="INSTALLFOLDER">
      <File Id="HWControlExe" Source="$(var.PackageDir)\HWControl.exe" KeyPath="yes" />
    </Component>

    <Component Id="BridgeServiceComponent" Directory="INSTALLFOLDER">
      <File Id="BridgeServiceExe" Source="$(var.PackageDir)\bridge-service.exe" KeyPath="yes" />
      <ServiceInstall Id="BridgeServiceInstall" Name="HWControlBridge" DisplayName="HWControl Bridge" Description="HWControl local authenticated bridge service" ErrorControl="normal" Start="auto" Type="ownProcess" Vital="yes" />
      <ServiceControl Id="BridgeServiceControl" Name="HWControlBridge" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
    </Component>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="HWControl" />
    </StandardDirectory>
    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="HWCONTROL_DATA" Name="HWControl" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <Component Id="BridgeDataComponent" Directory="HWCONTROL_DATA">
      <CreateFolder />
      <RemoveFile Id="RemoveBridgeKey" Name="bridge.key" On="uninstall" />
      <Environment Id="RemoveHWControlKey" Name="HWCONTROL_KEY" Action="remove" System="yes" />
      <RegistryValue Root="HKLM" Key="Software\HWControl" Name="BridgeDataInstalled" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PackageDir)\**">
        <Exclude Files="$(var.PackageDir)\HWControl.exe" />
        <Exclude Files="$(var.PackageDir)\bridge-service.exe" />
      </Files>
    </ComponentGroup>
  </Fragment>
</Wix>
