<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package
    Name="HWControl"
    Manufacturer="HWControl contributors"
    Version="$(var.Version)"
    UpgradeCode="6E0E6A5E-69A0-4B2A-9C89-8F2507A1D890">
    <MajorUpgrade DowngradeErrorMessage="A newer HWControl version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="HWControlIcon" SourceFile="$(var.IconPath)" />

    <Feature Id="MainFeature" Title="HWControl" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
      <ComponentRef Id="MainExecutableComponent" />
      <ComponentRef Id="BridgeServiceComponent" />
      <ComponentRef Id="SecurityGuardianComponent" />
      <ComponentRef Id="BridgeDataComponent" />
      <ComponentRef Id="SecurityCanaryComponent" />
      <ComponentRef Id="SecurityStateComponent" />
    </Feature>

    <Component Id="MainExecutableComponent" Directory="INSTALLFOLDER">
      <File Id="HWControlExe" Source="$(var.PackageDir)\HWControl.exe" KeyPath="yes">
        <Shortcut Id="DesktopShortcut" Name="HWControl" Directory="DesktopFolder" WorkingDirectory="INSTALLFOLDER" Icon="HWControlIcon" />
      </File>
    </Component>

    <Component Id="BridgeServiceComponent" Directory="INSTALLFOLDER">
      <File Id="BridgeServiceExe" Source="$(var.PackageDir)\bridge-service.exe" KeyPath="yes" />
      <ServiceInstall Id="BridgeServiceInstall" Name="HWControlBridge" DisplayName="HWControl Bridge" Description="HWControl local authenticated bridge service" ErrorControl="normal" Start="auto" Type="ownProcess" Account="LocalService" Vital="yes" />
      <ServiceControl Id="BridgeServiceControl" Name="HWControlBridge" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
    </Component>

    <Component Id="SecurityGuardianComponent" Directory="INSTALLFOLDER">
      <File Id="SecurityGuardianExe" Source="$(var.PackageDir)\security-guardian.exe" KeyPath="yes" />
      <ServiceInstall Id="SecurityGuardianInstall" Name="HWControlSecurityGuardian" DisplayName="HWControl Security Guardian" Description="HWControl secondary security guardian and canary monitor" ErrorControl="normal" Start="auto" Type="ownProcess" Account="LocalService" Vital="yes" />
      <ServiceControl Id="SecurityGuardianControl" Name="HWControlSecurityGuardian" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
    </Component>
  </Package>

  <Fragment>
    <StandardDirectory Id="DesktopFolder" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="HWControl" />
    </StandardDirectory>
    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="HWCONTROL_DATA" Name="HWControl">
        <Directory Id="SECURITY_DATA" Name="security">
          <Directory Id="SECURITY_CANARY_DATA" Name="canary" />
          <Directory Id="SECURITY_STATE_DATA" Name="state" />
        </Directory>
      </Directory>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <Component Id="BridgeDataComponent" Directory="HWCONTROL_DATA">
      <CreateFolder>
        <util:PermissionEx User="Users" Read="yes" Traverse="yes" Inheritable="yes" />
      </CreateFolder>
      <RemoveFile Id="RemoveBridgeKey" Name="bridge.key" On="uninstall" />
      <Environment Id="RemoveHWControlKey" Name="HWCONTROL_KEY" Action="remove" System="yes" />
      <RegistryValue Root="HKLM" Key="Software\HWControl" Name="BridgeDataInstalled" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Component Id="SecurityCanaryComponent" Directory="SECURITY_CANARY_DATA">
      <File Id="BridgerCanaryFile" Source="$(var.PackageDir)\security\fetch-status\bridger.key" KeyPath="yes">
        <util:PermissionEx User="NT AUTHORITY\LocalService" Read="yes" ReadAttributes="yes" ReadPermission="yes" />
      </File>
    </Component>

    <Component Id="SecurityStateComponent" Directory="SECURITY_STATE_DATA">
      <CreateFolder>
        <util:PermissionEx User="NT AUTHORITY\LocalService" Read="yes" Write="yes" CreateFile="yes" DeleteChild="yes" Traverse="yes" Inheritable="yes" />
      </CreateFolder>
      <RemoveFile Id="ResetVerifyStateOnInstall" Name="verify.state" On="install" />
      <RemoveFile Id="RemoveVerifyStateOnUninstall" Name="verify.state" On="uninstall" />
      <RemoveFile Id="RemoveVerifyKeyOnUninstall" Name="verify.key" On="uninstall" />
    </Component>

    <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PackageDir)\**">
        <Exclude Files="$(var.PackageDir)\HWControl.exe" />
        <Exclude Files="$(var.PackageDir)\bridge-service.exe" />
        <Exclude Files="$(var.PackageDir)\security-guardian.exe" />
        <Exclude Files="$(var.PackageDir)\security\fetch-status\bridger.key" />
      </Files>
    </ComponentGroup>
  </Fragment>
</Wix>
